/* .column {
    float: center;
    width: 25%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .row {
    margin: auto;
    width:50%;

    position: absolute;
    top: 50%;
    left: 28%;
    margin-top: -50px;
    margin-left: -28px;

  
  
    
  } */